//Imports
@import '_vars';

html {
    box-sizing: border-box;
}
body{
    background-color:$body-bg-color;
    padding: 0;
    margin: 0;
    font-family: $main-font; 
}
.hidden {
    display: none;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}
// ________________________________Landing Pg
#bg-img {
    background: url('../images/bg_mobile.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    // width: 100%;
}
#home-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}

// ___________________________Nav Styles
#main-nav a {
    text-decoration: none;
    color: #232323;
    // display: flex;
  // justify-content: center;
    transition: $main-transition;
    
}

#main-nav a:hover
{
  color:$primary-color;
  padding-left: 3px;
}
#menuToggle
{
  display: block;
  // position: relative;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.hamburger
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: $primary-color;
  border-radius: 1px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.line2 {
    width: 40px;  
}
.line3 {
    width: 23px;  
}
.hamburger:first-child
{
  transform-origin: 0% 0%;
}
.hamburger:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
//   background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px) scaleX(1.3);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: $bg-alpha-nav;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.icon {
  width: 12%;
  padding-left: 10px;
  transition: all 0.3s ease;
}
.icon:hover {
  color:$primary-color;  
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  border-bottom: 1px solid black;
  // display: flex;
  // align-items: center;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
//___________________________ Nav  styles end

// __________________________Logo Styles
#logo-ctn {
  margin:0 auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#logo-ctn h1 {
  margin:0 auto;
}
.logo{
  // padding-top: 50%; 
  color: $primary-color;
  font-size: 2.5rem;
  text-shadow: $logo-shadow;
}

// _______________________________Logo Styles End

.arrow-btn-ctn {
  // margin:0 auto;
  width: 30%;
  place-self:center center;
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}


// _____________________________About Us Section
#about-us {
      background: url('../images/about-bg-mobile.jpg');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
       margin-top: -20px;
       display: grid;
       grid-template-columns: 0.5fr 3fr 0.5fr;
       grid-template-rows: 0.5fr 1fr 0.5fr;
      //  @include blur-effect(0.5px);
       transition: $main-transition;
}
.page-title{
  grid-column: 2 / 3;
  place-self:center center;
  padding-top: 1em;
  font-family: $title-font;
  font-size: 3rem;
  color: $body-bg-color;
  
}
.about-text{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display:grid;
  background-color: $bg-alpha;
  padding: 1em;
  border-radius: 3px;
  p {
    color: $body-bg-color;
    place-self:center center;
  }
  a {
    place-self:center center;
    width: 20%;
  }
  .p-scrl{
    place-self:center center;
    font-weight: bold;
  }
}



// _____________________________Meet the Team Section
#meet-team {
  height: 100vh;
  display: grid;
       grid-template-columns: 0.5fr 3fr 0.5fr;
       grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}
.b {
  color: black;
}
.team-info{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.team-pic{
  width:160px;
}
.button{
  margin: 20px auto;
  cursor: pointer;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  
  background-color: $primary-color;
  color: white;
  white-space: nowrap;
  box-shadow: 0px 0px 0px 0px transparentize($primary-color, .75);
  @include transition(box-shadow .15s, transform .2s);

  @include transform(translate(0, 0%));

  &:hover{
      box-shadow: 5px 5px 20px 5px transparentize(black, .85);
      @include transform(translate(0,-20%));
  }
  &:active {
      box-shadow: -5px -5px 10px 0px transparentize($primary-color, .65);
      @include transform(translate(0, 0%));
  }
}
// _____________________________Media Queries 

@media screen and (min-width: 750px){
  #bg-img {
      background: url('../images/bg_desktop.jpg');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
  }
  .logo{
     font-size: 3.5rem;
  }
}